{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h3>Add Event</h3>
    <form method="post">
        <input type="text" name="event" placeholder="Event" required>
        <input type="text" name="venue" placeholder="Venue" required>
        <input type="date" name="event_date" placeholder="Event Date" required>
        <input type="time" name="start_time" placeholder="Start Time" required>
        <input type="time" name="end_time" placeholder="End Time" required>
        <select name="frequency">
           <option value="1">Weekly</option>
           <option value="2">Bi-Weekly</option>
           <option value="3">Monthly</option>
           <option value="4">Quartely</option>
           <option value="5">Annually</option>
        </select>
        <div class="toggle-container">
            <span>Would like this event to be open to the public?</span>
            <label class="toggle">
            <input type="checkbox" name="toggle-value" value="invisible">
            <span class="toggle-switch round"></span>
        </label>
        </div>
        <input type="submit" value="Add Event">
    </form>
</div>
{% endblock %}