{% extends 'base.html' %}
{% block content %}
<div class="container event-location">
   <h3>Events</h3>
   <form method="post">
     <label>Enter your city</label><br>
        <input type="text" name="location" placeholder="Enter the city where you would like to attend an event" required>
        <select name="category">
            <option value="1">Tech</option>
            <option value="2">Design</option>
            <option value="3">Hobbies</option>
            <option value="4">Language study</option>
            <option value="5">Dancing</option>
            <option value="6">Leisure</option>
        </select>
  
     <input type="submit" value="Search for events">
   </form>
</div>
<script src="{{ url_for('static', filename='js/events.js')}}"></script>

{% endblock %}